@import './../../../../../styles/mixins';

.progress-bar__container {
  flex-shrink: 0;

  width: 100%;
  border-radius: 7px;

  display: flex;

  @include themed('background', 'switcher-bg');
}

@media screen and (max-width: 600px) {
  .progress-bar__container {
    $height: 20px;
    $rounded-corners: calc($height / 2);

    height: $height;

    margin: 20px 0 0 0;

    div:first-of-type.progress-bar-section__container {
      border-radius: $rounded-corners 0 0 $rounded-corners;
    }

    div:last-of-type.progress-bar-section__container {
      border-radius: 0 $rounded-corners $rounded-corners 0;
    }
  }
}

@media screen and (min-width: 600px) {
  .progress-bar__container {
    $height: 14px;

    height: $height;

    margin: 15px 0 0 0;

    div:first-of-type.progress-bar-section__container {
      border-top-left-radius: calc($height / 2);
      border-bottom-left-radius: calc($height / 2);
    }

    div:last-of-type.progress-bar-section__container {
      border-top-right-radius: calc($height / 2);
      border-bottom-right-radius: calc($height / 2);
    }
  }
}
