body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  overflow-y: scroll;
}

body, input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  body, input {
    font-size: 16pt;
  }
}

@media screen and (min-width: 600px) {
  body, input {
    font-size: 14pt;
  }
}

@media screen and (min-width: 1000px) {
  body, input {
    font-size: 12pt;
  }
}
